html,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 300ms ease-in;
}

:root {
  --light-text: rgba(0, 0, 0, .87);
  --light-search-bar-border: #dfe1e5;
  --light-button-border: #f8f9fa;
  --light-button-text: #3c4043;
  --light-button-bg: #f8f9fa;
  --light-footer-text: #70757a;
  --light-footer-bg: #f2f2f2;
  --light-footer-border: #dadce0;
  --dark-text: rgba(255, 255, 255, .87);
  --dark-bg: #202124;
  --dark-footer-bg: #171717;
  --dark-footer-border: #3c4043;
  --dark-footer-text: #9aa0a6;
  --dark-search-bar-input-text: #e8eaed;
  --dark-search-bar-focused-bg: #303134;
  --dark-search-bar-border: #5f6368;
  --dark-button-border: #303134;
  --dark-button-text: #e8eaed;
  --dark-button-bg: #303134;
}

ul li {
  list-style-type: none;
}

a {
  color: var(--light-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-size: 14px;
  font-family: arial, sans-serif !important;
}

header {
  height: 10vh;
  padding: 1rem;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  font-size: 14px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 1px;
}

.apps-icon {
  width: 28px;
}

.avatar {
  max-width: 36px;
  border-radius: 50%;
}

section#main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

section#main .logo {
  margin-bottom: 2rem;
}

section#main .search-bar {
  background-color: transparent;
  border: 1px solid var(--light-search-bar-border);
  border-radius: 24px;
  height: 44px;
  max-width: 584px;
  width: auto;
  z-index: 3;
  user-select: none;
  word-wrap: break-word;
  display: grid;
  place-items: center;
  padding: 0 3rem;
  position: relative;
}

section#main .search-bar::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../assets/search-icon.svg);
  fill: #9aa0a6;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

section#main .search-bar::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../assets/mic-icon.svg);
  fill: #9aa0a6;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

section#main .search-bar input {
  background-color: transparent;
  width: 100%;
  height: 34px;
  font-size: 16px;
  margin: 0 10rem;
  border: none;
  outline: none;
  user-select: none;
}

footer {
  min-height: 10vh;
  background-color: var(--light-footer-bg);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .location {
  padding: 1rem 3rem;
  color: var(--light-footer-text);
  border-bottom: 1px solid var(--light-footer-border);
}

footer nav {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

footer nav ul li a {
  color: var(--light-footer-text);
}

footer nav ul li {
  position: relative;
}

.btn-settings {
  border: none;
  cursor: pointer;
  color: var(--light-footer-text);
  background-color: transparent;
}

.btn-settings:hover {
  text-decoration: underline;
}

footer .dropdown {
  display: none;
  position: absolute;
  top: -20rem;
  left: -5rem;
  width: max-content;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
}

footer .dropdown.active {
  display: block;
}

footer .dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 0;
}

footer .dropdown ul li {
  padding: 0 16px;
  line-height: 1.1;
  transition: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

footer .dropdown ul li:last-child {
  border-top: 1px solid #dadce0;
  line-height: 35px;
}

footer .dropdown ul li:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn {
  background-color: var(--light-button-bg);
  border: 1px solid var(--light-button-border);
  border-radius: 4px;
  padding: 0 16px;
  line-height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: var(--light-button-text);
}

.btn:nth-child(1) {
  margin-right: 1rem;
}


/* Dark Mode Styling */
.dark {
  background-color: var(--dark-bg);
}

.dark a {
  color: var(--dark-text);
}

.dark footer {
  background-color: #171717;
}

.dark footer .location {
  border-color: var(--dark-footer-border);
  color: var(--dark-footer-text);
}

.dark footer nav ul li a {
  color: var(--dark-footer-text);
}

.dark footer nav ul li .btn-settings {
  color: var(--dark-footer-text);
}

.dark footer .dropdown {
  transition: none !important;
  background-color: #202124;
  color: #bdc1c6;
  box-shadow: 1px 1px 15px 0px #171717;
}

.dark footer .dropdown ul li:last-child {
  border-color: #3c4043;
}

.dark footer .dropdown ul li:hover {
  background-color: #38393b;
}

.dark section#main .search-bar {
  border-color: var(--dark-search-bar-border);
}

.dark section#main .search-bar:hover,
.dark section#main .search-bar:focus {
  background-color: var(--dark-search-bar-focused-bg);
  border: none;
}

.dark section#main .search-bar input {
  color: var(--dark-search-bar-input-text);
}

.dark .buttons .btn {
  background-color: var(--dark-button-bg);
  color: var(--dark-button-text);
  border-color: var(--dark-button-border);
}

/* Dark Mode Styling */


@media (max-width:687px) {
  footer nav {
    align-items: center;
    justify-content: center;
  }

  footer .dropdown {
    top: -19rem;
    left: -3rem;
  }
}